TDX_CLIENT_ID=your_TDX_client_id
TDX_CLIENT_SECRET=your_TDX_client_secret
TDX_BUS_CITY=Taipei
PREVIEW_PORT=8780
NEXT_STOPS_API_PORT=8790
CWA_API_KEY=your_cwa_opendata_authorization_token
AQI_API_KEY=your_moenv_api_key
