NEXT_STOPS_Developer_Documentation.md
.vscode/
env/
.env
.env.local
next-stops-api/data/saved_places.json

*__pycache__/

*.zip

next_stops_figma_pack/
node_modules/
.next/

API Client.txt
RailLiveBoard StationID.xml
MRT-Liveboard.xml
neglectedfiles/
