# TDX / 交通部觀光署觀光資料
TDX_CLIENT_ID=
TDX_CLIENT_SECRET=

# OpenTripMap
OPENTRIPMAP_API_KEY=

# Geoapify
GEOAPIFY_API_KEY=

# Foursquare
FOURSQUARE_API_KEY=
# 若你的 Foursquare 帳號使用新版 host，可覆蓋預設值：
# FOURSQUARE_BASE_URL=https://api.foursquare.com/v3/places
